# HiShort upstream API base URL
HISHORT_API_BASE_URL=https://captain.sapimu.au/hishort/api/v1

# MicroDrama upstream API base URL
MICRODRAMA_API_BASE_URL=https://captain.sapimu.au/microdrama/api/v1

# MeloShort upstream API base URL
MELOSHORT_API_BASE_URL=https://captain.sapimu.au/meloshort/api/v1

# DramaWave upstream API base URL
DRAMAWAVE_API_BASE_URL=https://captain.sapimu.au/dramawave/api/v1

# StardustTV upstream API base URL
STARDUSTTV_API_BASE_URL=https://captain.sapimu.au/stardusttv/api/v1

# Static token for upstream API
PARENT_API_TOKEN=
