# HiShort upstream API base URL
HISHORT_API_BASE_URL=https://captain.sapimu.au/hishort/api/v1

# MicroDrama upstream API base URL
MICRODRAMA_API_BASE_URL=https://captain.sapimu.au/microdrama/api/v1

# Static token for upstream API
PARENT_API_TOKEN=
